<div class="c-timeline__container">
    <div class="c-timeline__container__{{ include.event.placement }}">
        <div class="c-timeline__event__connector"></div>
        <div class="c-timeline__event">
            <div class="c-timeline__event__container">
                <p class="c-timeline__event__timestamp">{{ include.event.date }}</p>
                <article class="c-timeline__event__article">
                    {% if include.event.link %}
                        <p>
                            <a href="{{ include.event.link }}">{{ include.event.desc }}</a>
                        </p>
                    {% else %}
                        <p>
                            {{ include.event.desc | markdownify }}
                        </p>
                    {% endif %}
                </article>
            </div>
        </div>
        <div class="c-timeline__event__connector"></div>
    </div>
</div>