<section id="History" class="timeline-section">
    <div class="container timeline-controls">
        <span class="timelineControl" data-direction="left"><i class="fa fa-caret-left"></i></span>
        <h3>Our History</h3>
        <span class="timelineControl" data-direction="right"><i class="fa fa-caret-right"></i></span>
    </div>

    <div id="draggable-timeline" class="u-timeline-container">
        <div id="timeline" class="c-timeline">
            {% for event in site.data.timeline %}
                {% include templates/timeline-event.html event=event %}
            {% endfor %}
        </div>
    </div>
</section>
