<section id="History" class="timeline-section">
    <div class="container timeline-controls">
        <span class="timelineControl" data-direction="left"><i class="fa fa-caret-left"></i></span>
        <h3>Our History</h3>
        <span class="timelineControl" data-direction="right"><i class="fa fa-caret-right"></i></span>
    </div>

    <div id="draggable-timeline" class="u-timeline-container">
        <div id="timeline" class="c-timeline">
            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 8 1996</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.loc.gov/today/pr/1996/96-023.html">Fmr. President Bill Clinton signs Telecommunications Act of 1996 to promote competition by allowing any communication business to compete in any market against any other</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 24 1998</p>
                            <article class="c-timeline__event__article">
                                <p>City of Santa Monica <a href="http://www.smgov.net/departments/council/agendas/1998/19980224/s1998022409-A.html">adopts</a> Santa Monica’s <a href="http://muninetworks.org/sites/www.muninetworks.org/files/Telecommunications Master Plan Body.pdf">Telecommunications Master Plan</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">2000-2002</p>
                            <article class="c-timeline__event__article">
                                <p>City constructs an Institutional Network (INET) for the City, Santa Monica School District, and Santa Monica College utilizing aerial fiber owned by local cable company.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">2003</p>
                            <article class="c-timeline__event__article">
                                <p>With telecom cost savings from INET, City initiates Phase I construction of its own underground Fiber Optic Network.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">July 2004</p>
                            <article class="c-timeline__event__article">
                                <p>City adopts a Public Right of Way Ordinance regulating time, plan, and manner of assets in Public Right of Way.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>


            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                        <p class="c-timeline__event__timestamp">April 25 2006</p>
                        <article class="c-timeline__event__article">
                            <p>City starts leasing Dark Fiber to community stakeholders.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 10 2010</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.wired.com/2010/04/google-fiber-losers/">Google Fiber Think Big with a Gig Competition results in interest from almost 1,100 U.S. Cities</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 16 2010</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://tmsearch.uspto.gov/bin/showfield?f=doc&state=4809:o63l3l.2.1">U.S. Federal Trademark Registered for Santa Monica City Net.</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">March 15 2010</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.prlog.org/10580399-santa-monica-launches-10gb-broadband-initiative.html">City of Santa Monica leverages its City-owned network to launch 10 Gigabit Lit Fiber services, with minimum speeds of 100MBPS and rates 67% lower than other available offerings.</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">June 22 2010</p>
                            <article class="c-timeline__event__article">
                                <p>City starts offering Lit Fiber to community stakeholders.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__superscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">May 4 2011</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.hks.harvard.edu/news-events/news/press-releases/pr-ash-top-25-innovations-may11">Ash Center at the Harvard Kennedy School of Government Top 25 Innovations in Government</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__superscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">September 7 2011</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.informationweek.com/government/leadership/15-government-it-innovators-informationweek-500/d/d-id/1100004?page_number=12">InformationWeek 500 Government IT Innovator</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">June 14, 2012</p>
                            <article class="c-timeline__event__article">
                                <p><a href="https://www.whitehouse.gov/the-press-office/2012/06/14/executive-order-accelerating-broadband-infrastructure-deployment">President Barack Obama signs Executive Order Accelerating Broadband Infrastructure Deployment</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">June 27 2012</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.gao.gov/assets/600/591928.pdf">Santa Monica participates in research by Government Accountability Office for its report on how “Planning and Flexibility Are Key to Effectively Deploying Broadband Conduit through Federal Highway Projects” highlighting Santa Monica City Net operations.</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 14 2013</p>
                            <article class="c-timeline__event__article">
                                <p>Santa Monica City Net presented to FHWA Office of Policy and Federal Working Group on Broadband Infrastructure Deployment on Santa Monica’s unique broadband model.</p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">May 2013</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.fhwa.dot.gov/policy/otps/successprac.pdf">USDOT Federal Highway Administrative publishes Summary Paper of “Successful Practices of Broadband Deployment in Highway Rights of Way”</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">August 29 2014</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://apps.fcc.gov/ecfs/document/view?id=7521826113">City Net included as one example of broadband model in New America Foundation Open Technology Institute Comments to FCC</a></p>
                                </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">September 19 2014</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://smdp.com/santa-monicas-fiber-network-100-gigabits/141980">Santa Monica upgrades network to 100 Gigabits per Second!</a></p>
                                </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__sealevel">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">October 20 2014</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://nextcenturycities.org/2014/10/20/next-century-cities-launches-with-32-cities-leading-on-high-speed-internet/">City of Santa Monica, an Inaugural Partner of Next Century Cities, participates in organization launch event in Santa Monica at Cross Campus.</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">January 2015</p>
                            <article class="c-timeline__event__article">
                                <p><a href="https://www.whitehouse.gov/sites/default/files/docs/community-based_broadband_report_by_executive_office_of_the_president.pdf">Office of the President releases “Community-Based Broadband Solutions” paper</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>

            <div class="c-timeline__container">
                <div class="c-timeline__container__subscript">
                    <div class="c-timeline__event__connector"></div>
                    <div class="c-timeline__event">
                        <div class="c-timeline__event__container">
                            <p class="c-timeline__event__timestamp">February 26 2015</p>
                            <article class="c-timeline__event__article">
                                <p><a href="http://www.fcc.gov/document/fcc-adopts-strong-sustainable-rules-protect-open-internet">FCC approves Net Neutrality rules, classifies broadband as a utility</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="c-timeline__event__connector"></div>
                </div>
            </div>
        </div>
    </div>
</section>
