$broadband-color: #D6A717;
$wavelengths-color: #399898;
$darkfiber-color: #83496A;

// Monitors CSS

$relativeHeight: percentage(126/185);
$animations: (
    100mb: (
        speed: 4s,
        height: 45%
    ),
    1gb: (
        speed: 3s,
        height: 35%
    ),
    10gb: (
        speed: 2s,
        height: 20%
    ),
    100gb: (
        speed: 1s,
        height: 0%
    )
);

.monitor-container {
    .time {
        color: $broadband-color;
        font-size: 35px;
        margin-top: 50px;
        font-weight: bold;
        text-align: center;
    }
}

.monitor {
    display: inline-block;
    position: relative;
}

.monitor-bg {
    margin-top: 3px;
    max-width: 100%;
    position: absolute;
    z-index: -100;
}

.monitor-screen {
    background-color: black;
    bottom: 13%;
    padding-top: $relativeHeight;
    position: absolute;
    width: 100%;
    z-index: -50;
}

@each $name, $animation in $animations {
    $keyFrameName: slide#{$name};

    @keyframes #{$keyFrameName} {
        0%   { padding-top: $relativeHeight; }
        100% { padding-top: map-get($animation, height); }
    }

    .monitor-#{$name} {
        &.animated {
            animation: #{$keyFrameName} map-get($animation, speed) forwards linear;
        }
    }
}

// Products

.product-header {
    @extend .hidden-sm;
    @extend .hidden-md;
    @extend .hidden-lg;
    
    &.product-broadband {
        color: $broadband-color;
    }
    
    &.product-wavelengths {
        color: $wavelengths-color;
    }
    
    &.product-darkfiber {
        color: $darkfiber-color;
    }
}

.product-spiel {
    .icon {
        img {
            height: 80px;
        }
        
        @include respond-only-to(phones, phablets) {
            text-align: center;
        }
    }
    
    .description {
        padding-left: 15px;
    }
}

.products-section {
    padding: {
        bottom: 20px;
        top: 10px;
    }

    .product-tabs {
        .nav {
            border-bottom: 0;
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
            display: none;
            text-align: center;

            @include respond-to(tablets) {
                display: block;
            }

            li {
                display: inline-block;
                float: none;
                font-size: 20px;
                margin-bottom: 0;

                &.active {
                    border-bottom: 3px solid $Color-CityNet-Green;

                    a {
                        background-color: transparent;
                        border: 0;
                    }
                }

                a {
                    border: 0;
                    padding: {
                        left: 20px;
                        right: 20px;
                    }

                    &:hover {
                        background-color: transparent;
                        border: 0;
                    }
                    
                    img {
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .tab-content {
            @include respond-to(desktops) {
                padding: {
                    bottom: 30px;
                    top: 40px;
                }
            }

            .tab-pane {
                @include make-row();

                @media screen and (max-width: $screen-sm-min) {
                    display: block;
                    margin-top: 20px;
                }

                @include respond-to(desktops) {
                    &:first-child {
                        margin-top: 0;
                    }
                }
                
                .service {
                    &-broadband {
                        .row {
                            > div {
                                padding-left: 5px;
                                padding-right: 5px;
                                
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                    
                    &-wavelengths {
                        .image {
                            text-align: center;
                        }
                        
                        .speeds {
                            $colors: (
                                "one": #54A9A4,
                                "ten": #389898,
                                "ben": #2E8995
                            );
                            $height: 60px;
                            
                            div {
                                margin-bottom: 15px;
                            }
                            
                            .circle {
                                border-radius: 50%;
                                color: #FFFFFF;
                                display: inline-block;
                                height: $height;
                                line-height: $height;
                                text-align: center;
                                width: $height;
                            }
                            
                            @each $size, $color in $colors {
                                .#{$size}-gb {
                                    .circle {
                                        background-color: $color;
                                    }
                                }
                            }
                        
                            .time {
                                float: right;
                                font-size: 24px;
                                line-height: $height;
                            }
                        }
                    }
                
                    &-darkfiber {
                        .fiber-table {
                            display: table;
                            table-layout: fixed;
                            
                            .header,
                            .body {
                                display: table-row;
                                
                                > div {
                                    display: table-cell;
                                    padding: 10px 20px;
                                    text-align: center;
                                    width: 33.33%;
                                    
                                    > p {
                                        text-transform: uppercase;
                                    }
                                    
                                    img {
                                        max-width: 100%;
                                    }
                                }
                            }
                            
                            .body {
                                > div {
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }

                .service-container {
                    margin: 0 auto;
                    width: 90%;

                    @include respond-to(tablets) {
                        display: table;
                        padding: 40px 0px;
                        width: 100%;
                    }

                    @include respond-to(desktops) {
                        padding: 0;
                        width: 80%;
                    }

                    figure,
                    article {
                        @include respond-to(tablets) {
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }

                    figure {
                        margin-bottom: 15px;
                        text-align: center;

                        @include respond-to(tablets) {
                            margin-bottom: 0;
                            padding-right: 50px;
                            text-align: right;
                        }

                        img {
                            width: 30%;

                            @include respond-to(tablets) {
                                width: auto;
                            }
                        }
                    }

                    article {
                        .services {
                            margin-top: 20px;

                            @include respond-to(tablets) {
                                padding-left: 0;
                                text-align: center;
                            }

                            li {
                                font-weight: bold;

                                @include respond-to(tablets) {
                                    display: inline-block;
                                    padding: 5px 40px 5px 10px;

                                    &:before {
                                        color: $Color-CityNet-Green;
                                        content: "";
                                        display: list-item;
                                        margin-left: -15px;
                                        position: absolute;
                                    }

                                    &:first-child {
                                        list-style: none;
                                        padding-left: 0;
                                    }

                                    &:last-child {
                                        padding-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
