$breakpoints: (
    'ms': phablets,
    'sm': tablets,
    'md': desktops,
    'lg': widescreens
);

@each $name, $target in $breakpoints {
    @include respond-to($target) {
        .table-#{$name} {
            display: table;
        }
    }
}

.table {
    width: 100%;
}
            
.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.table-full {
    width: 100%;
}

.table-align-middle {
    div {
        vertical-align: middle;
    }
}