.timeline-section {
    @include clearfix();

    min-height: 550px;
    max-width: 100%;
    overflow: hidden;
    position: static;

    @include respond-to(desktops) {
        position: relative;
    }
}

.timeline-controls {
    text-align: center;

    h3 {
        display: inline-block;
    }

    span {
        display: none;
        font-size: 30px;
        margin: 0 10px;

        i {
            vertical-align: middle;
        }

        @include respond-to(desktops) {
            display: inline;
        }
    }
}

@include media-breakpoint-down(md) {
  .u-timeline__container {
    position: static !important;
  }

  .c-timeline {
    margin: {
      right: auto;
      left: auto;
    }
    padding: {
      right: 15px;
      left: 15px;
    }
    max-width: 748px;
  }

  .c-year__event__header,
  .c-year__theater,
  .c-year__date {
    display: none !important;
  }
  
  .c-year__event__date {
    font-weight: bold;
  }
}

.js-enabled {
  @include respond-to(desktops) {
    .c-timeline {
      cursor: move;
      display: table;
      height: 400px;
      position: absolute;
      table-layout: fixed;
      width: 100%;
    }

    .c-year {
      bottom: 0;
      display: table-cell;
      padding-left: $Timeline-EventMargin;
      vertical-align: bottom;
      width: $Timeline-YearWidth;
      
      &:last-child {
        padding-right: $Timeline-EventMargin;
        width: $Timeline-YearWidth + $Timeline-EventMargin;
      }
    }

    .c-year__date,
    .c-year__event {
      margin-top: $Timeline-EventMargin;
    }

    .c-year__event {
      $header: #{&}__header p;

      #{$header} {
        visibility: hidden;
      }

      &--visible {
        #{$header} {
          visibility: visible;
        }
      }
    }

    .c-year__date {
      font-weight: bold;
      text-align: center;
    }

    .c-year__event__header {
      background-color: $Color-CityNet-Green;
      color: $Color-White;
      cursor: pointer;
      font-weight: bold;
      height: $Timeline-EventHeight;
      line-height: $Timeline-EventHeight;
      text-align: center;

      p {
        height: 100%;
        overflow: hidden;
      }
        
      &:hover {
        background-color: $Color-Orange;
      }
    }

    .c-year__event__desc {
      display: none;
    }

    .c-year__theater {
      background-color: $Color-Orange;
      color: $Color-White;
      display: none;
      height: 160px;
      overflow: hidden;
      padding: $Timeline-TheaterPadding;
      
      & a {
        color: $Color-White;
        text-decoration: underline;
      }
    }

    .c-year__theater__actor {
      height: 100%;
      overflow: hidden;
    }

    .c-year__event__date {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}