<div class="row">
    {% for service in site.data.services[0].meta.images %}
        <div class="col-xs-6 col-sm-3 text-center">
            <section class="monitor-container">
                <section class="monitor">
                    {% if service.image %}
                        <img class="monitor-bg" src="assets/images/{{ service.image }}" />
                        <div class="monitor-screen monitor-{{ service.name }}"></div>
                    {% else %}
                        {% include {{ service.include }} %}
                    {% endif %}

                    <img src="assets/images/broadband-{{ service.name }}-transparent.png" />
                </section>
                
                <p class="time fadein-animation">{{ service.time }}</p>
            </section>
        </div>
    {% endfor %}
</div>