<div>
    <h4>Compare Speeds</h4>
    <p>For downloading a 40GB Blu-ray Movie</p>
    <p><em>Estimated Transfer Time</em></p>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="assets/images/broadband-100mb.png" />
    </div>
    <div class="col-md-3">
        <img src="assets/images/broadband-1gb.png" />
    </div>
    <div class="col-md-3">
        <img src="assets/images/broadband-10gb.png" />
    </div>
    <div class="col-md-3">
        <img src="assets/images/broadband-100gb.png" />
    </div>
</div>