<div class="fiber-table">
    <div class="header">
        <div class="ptp">
            <h4>Point-To-Point</h4>
        </div>

        <div class="ring">
            <h4>Ring Network</h4>
        </div>

        <div class="mesh">
            <h4>Mesh Network</h4>
        </div>
    </div>
    <div class="body">
        <div class="ptp">
            <img src="assets/images/darkfiber-ptp.png" />
        </div>

        <div class="ring">
            <img src="assets/images/darkfiber-ring.png" />
        </div>

        <div class="mesh">
            <img src="assets/images/darkfiber-mesh.png" />
        </div>
    </div>
</div>
