// CSS Flex-Tree settings
$chart-object-border: none;
$chart-object-padding: 10px 20px;
$chart-corner-radius: $border-radius-base;
$chart-line-border: 2px solid $Color-CityNet-Green;
$chart-line-height: 25px;
$chart-min-width: $screen-sm-min;

// CSS Timeline Settings
$Timeline-YearWidth: 200px;
$Timeline-EventHeight: 24px;
$Timeline-EventMargin: 15px;
$Timeline-TheaterPadding: 20px;

// CSS Backgrounds
$Background-Alternate-Color: $Color-CityNet-DarkBlue;

// Website Settings
$CityNet-Header-Height: 600px;
