$Color-CityNet-LightBlue: #293347;
$Color-CityNet-DarkBlue: #1c2435;
$Color-CityNet-Green: #93c840;
$Color-Black: #000000;
$Color-White: #FFFFFF;
$Color-Grey: #252525;
$Color-LightGrey: #B0B0B0;