<section id="History" class="timeline-section">
    <div class="container timeline-controls">
        <span class="timelineControl" data-direction="left"><i class="fa fa-caret-left"></i></span>
        <h3>Our History</h3>
        <span class="timelineControl" data-direction="right"><i class="fa fa-caret-right"></i></span>
    </div>

    <div id="draggable-timeline" class="u-timeline__container">
        <div id="timeline" class="c-timeline">
            {% for year in site.data.events %}
                <div class="c-year">
                    <!-- Theater -->
                    <div id="timeline-theater-{{ year.year }}" class="c-year__theater">
                        <div class="c-year__theater__actor"></div>
                    </div>

                    <!-- Events -->
                    {% for event in year.events %}
                        {% include templates/event.html year=year.year event=event id=forloop.index %}
                    {% endfor %}
                    
                    <!-- Year -->
                    <div class="c-year__date">
                        <p>{{ year.year }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
